PORT=<YOUR_PORT>
MONGO_DB_URI=<YOUR_MONGO_DB_YRI>
DB_NAME=<YOUR_DB_NAME>
JWT_ACCESS_SECRET=<YOUR_JWT_ACCESS_SECRET>
JWT_ACCESS_EXPIRESIN=<YOUR_JWT_ACCESS_EXPIRESIN>
JWT_REFRESH_SECRET=<YOUR_JWT_REFRESH_SECRET>
JWT_REFRESH_EXPIRESIN=<YOUR_JWT_REFRESH_EXPIRESIN>